@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --template-color-one:#eebf51;
  --template-color-one: #eebf51;

 }

@theme inline {
  --color-background: var(--background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  --template-color-one:#f8db98;

  }
}
html.lenis {
  height: auto;
}
body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "LuckiestGuy";
  src: url("./assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ShadowIntoLight";
  src: url("./assets/font/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf") format("truetype");
 
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

h1,h2,h3{
  font-family: 'LuckiestGuy';
}
h1 {
  font-size: clamp(40px, 5vw, 106px);
}

h2 {
  font-size: clamp(32px, 4vw, 70px);
}

h3 {
  font-size: clamp(24px, 3vw, 48px);
}
p{
  font-family: 'ShadowIntoLight';
}
.paragraph_one{
  font-size: clamp(24px, 3vw, 48px);
}
.paragraph_two{
  font-size: clamp(24px, 3vw, 38px);
}
.paragraph_three{
  font-size: clamp(18px, 3vw, 28px);
}

.text-color-one{
  color: var(--template-color-one) !important;
}
.mantis{
  font-size: clamp(30vw, 5vw, 90vw);
}