@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #000000;
  --template-color-one: #eebf51;
  --template-color-one: #eebf51;
}

@theme inline {
  --color-background: var(--background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --template-color-one: #f8db98;
  }
}
html.lenis {
  height: auto;
}
body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
@font-face {
  font-family: "ClubParty";
  src: url("./assets/font/club-party/ClubParty.otf") format("truetype");
}
@font-face {
  font-family: "butter";
  src: url("./assets/font/club-party/home-candy.regular.ttf") format("truetype");
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.cursor{
  cursor: pointer !important;
}
h1,
h2,
h3 {
  font-family: "ClubParty";
}
h1 {
  font-size: clamp(40px, 5vw, 106px);
}

h2 {
  font-size: clamp(32px, 4vw, 70px);
}

h3 {
  font-size: clamp(24px, 3vw, 48px);
}
p {
  font-family: "butter", sans-serif;
}
.paragraph_one {
  font-size: clamp(24px, 3vw, 48px);
}
.paragraph_two {
  font-size: clamp(24px, 3vw, 38px);
}
.paragraph_three {
  font-size: clamp(18px, 3vw, 28px);
}

.text-color-one {
  color: var(--template-color-one) !important;
}
.mantis {
  font-size: clamp(30vw, 5vw, 90vw);
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

/* Button */

.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: var(--template-color-one);
  box-shadow: 0 0 0 2px var(--template-color-one);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--template-color-one);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px var(--template-color-one);
  color: #000;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

/* video container  */
 

